<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="campusdbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=campusdb;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>